@font-face {
  font-family:font_strong;
  src:url('../src/Fonts/0199-LNTH-pincoyablack.ttf') format('truetype'),

 }
 .h5 {font-family:font_strong;}
body {
  margin: 0;
  font-family: font_strong;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;

@tailwind components;
@tailwind utilities;
